<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>959651401856-cerb5ettb03fi6417b829qq3smjob89m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959651401856-cerb5ettb03fi6417b829qq3smjob89m</string>
	<key>API_KEY</key>
	<string>AIzaSyDFW6DCHDyZI4eLOomYB2b2wSKKlmnNH4g</string>
	<key>GCM_SENDER_ID</key>
	<string>959651401856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>huy.dang.quoc.MovieViewer</string>
	<key>PROJECT_ID</key>
	<string>movieviewer-b9f6a</string>
	<key>STORAGE_BUCKET</key>
	<string>movieviewer-b9f6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:959651401856:ios:985dfb9985f4356c</string>
	<key>DATABASE_URL</key>
	<string>https://movieviewer-b9f6a.firebaseio.com</string>
</dict>
</plist>